.unity-foldout__toggle > .unity-toggle__input > .unity-toggle__checkmark {
    margin-right: 0px;
}

.unity-toolbar-button:active {
    background-color: rgb(70, 96, 124);
}

.unity-tree-view__item-toggle{
    margin-right: 0px;
}